language: node_js
node_js:
- '5.5'
addons:
  code_climate:
    repo_token: "8239f2b4de7a1e91bf3be1555018d03159a7bbe0d939a5cf233f493a21709f65"
deploy:
- provider: npm
  email: serveradmin@octoblu.com
  api_key:
    secure: EXSDqzpwmi94VesrWdJlyWCJsz1lI0xlmrnzQLVVJA/nm4+f9P6I4iZ9fmqGk/9uIezT+RYklm3sDlDdVsy1ICZx7SoUyKFsHEJTn+22c3Yjqe/YmePKNk5Lre/Rob/OLD6kOPB3/W5NixxUchWdb6dsd6r08KFSXSeBIZO7GKbUha57GXggOkySUyXg4kjHwV57KQBYjJ2O/bphbSPBdGEt9wXem4Dh0RCtn3NDLdUKwO1x/c71fBtHNM8J+xwQbmhmx5qKRHRgr97aMK43yX/qR1ghKaA8iPizoYxtprktLYoyK6+TduRaf+5W8i6WfZS7mXDKdq6wWfty5pqiOOtqE4CF/Qqx4zS3u7WLnjn1wNFKNMr2s8bFxRbN3oRX3+o0OlpAyGEbL6iWzddA+tkfhRNeUZ95aWLYkNyXiI0Ev71tYjRt/puY9B198yRgYPWBedMQJL1CDPUrxCm/CKkOi4zIuPoxcrvbBLWRDRHeKPVL3N/nDxfvAdqSATLelHDGTyrqyizRQJRn+8mVKe3r6bpzcoJr3jH+9lTKwUGg+ge3PdwJpgn7cooRe9rb1vKkbjfmuuYlv/PItc3cAuEdSZSSqZq5D3Q4kTxCgTKqkCej8GUxWfpCWbongSVq4vXoXVZSxB+JCETaDN62hqYlOhnGS+AKgzf3x075jI0=
  on:
    tags: true
    branches: true
after_success:
- bash <(curl -s https://codecov.io/bash)
branches:
  only:
  - "/^v[0-9]/"
